<table>
  <tr>
    <td><h1 style="margin-bottom:0"> Defense/Special Teams </h1></td>
  </tr>
  
  <tr>
    <td><a href="/" style="text-decoration:none"> Top300 </a>
    <a href="quarterbacks" style="text-decoration:none"> QB </a>
    <a href="runningbacks" style="text-decoration:none"> RB </a>
    <a href="widereceivers" style="text-decoration:none"> WR </a>
    <a href="tightends" style="text-decoration:none"> TE </a>
    <a href="kickers" style="text-decoration:none"> K </a>
    <a href="defenses" style="text-decoration:none"> DEF </a></td>
  </tr>
  
  <tr>
    <td><u><h3> Rank/Player/Position </h3></u></td>
    <td><u><h3> Team </h3></u></td>
    <td><u><h3> Bye </h3></u></td>
    <td><u><h3> PosRank </h3></u></td>  
  </tr>
  
  <tr>
    <% @players.each do |p| %>
      <% if p.position == "DEF" %>
      <td> 
        #<%= p.overallRank %>  
         <%= p.displayName %> - 
         <%= p.position %> 
       </td>
     <td style="text-align:center"> <%= p.team %> </td>
     <td style="text-align:center"> <%= p.byeWeek %> </td>
     <td style="text-align:center"> <%= p.positionRank %> </td>
  </tr>
      <% end %>
    <% end %>
</table>